<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head.ejs %>
  <link rel="stylesheet" href="../simplepg.css" />
</head>

<body>
  <% include ../partials/navbar.ejs %>

  <!--header-->
  <div class="Header-banner">
    <h1 id="header">Log In</h1>
  </div>
  <div class="container">
    <div class="login-area">
      <form action="/sessions" method="POST">
        </br>
        </br>
        <label for="username">User Name </label>
        <input id="username" type="text" class="validate" name="username" required>
        </br>
        <label for="password">Password </label>
        <input id="password" type="password" class="validate" name="password" required>
        </br>
        </br>
        <button type="submit" name="action">Submit</button>
      </form>
    </div>
  </div>
</body>

</html>