<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head.ejs %>
  <link rel="stylesheet" href="/simplepg.css" />
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <% include ../partials/navbar.ejs %>

  <!--header-->
  <div class="Header-banner">
    <h1 id="header">Log In</h1>
  </div>
  <div class="container">
    <div class="inner-container">
      <form action="/sessions" method="POST">
        </br>
        </br>
          <label>
            <span>User Name</span>
            <input id="username" type="text" class="validate" name="username" required>
          </label>
        

          <label>
              <span>Password</span>
              <input id="password" type="password" class="validate" name="password" required>
            </label>
        </br>
        </br>
        </br>
        <button type="submit" name="action" class="pure-button pure-button-active">Submit</button>
      
      </form>
  </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="/all.js"></script>
</body>

</html>