@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
;

/* icons ref: https://material.io/resources/icons/?style=baseline */
/* var(--navy)
/* https://coolors.co/041725-1b374b-3d232c-c39c93-d6c9ba */
/* https://coolors.co/ffffff-74b0bc-ccc5b9-d5cedd-326273 */

/* colors
  --white: #ffffff;
  --black: #000000;
  --oxfordblue: #14213D;
  --orangeweb: #FCA311;
  --grey: #E5E5E5;
  --darkorange: #e85d04;
*/

* {
  font-family: 'Open Sans Condensed', sans-serif;
}

body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("Ade-background.jpeg");
  /*linear-gradient(rgba(6,78,150,0.3),rgba(6,78,150,0.3));
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Center and scale the image nicely */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-blend-mode: overlay;*/
}


.title {
  margin-left: 15vw;
  position: relative;
  top: 15vw;
  display: grid;
  grid-template-columns: repeat(8, 5vw);
  grid-template-rows: repeat(3, 5vw);
  height: 20vw;
  grid-gap: 2px;
  grid-template-areas: 
    "a b b b b b b b"
    "d b b b b b b b"
    "c c c c c c c c";
}

.subTitle {
  grid-area: a;
  color: #41b3a3;
  font-family:'Open Sans Condensed', sans-serif;
  font-size: 2.2vw;
}

.subTitle2 {
  grid-area: d;
  color: #41b3a3;
  font-family:'Open Sans Condensed', sans-serif;
  font-size: 2.2vw;
}

.mainTitle {
  grid-area: b;
    color: #85dcba;
    font-family: 'Sacramento', cursive;
    font-size: 10vw;
}

.bottomTitle {
  grid-area: c;
  color: #41b3a3;
  font-family:'Open Sans Condensed', sans-serif;
  font-size: 2.2vw;
}

.floating-menu {
  margin-left: 2vw;
  top: 80px;
  padding: 5px;
  z-index: 80;
  position: fixed;
}

.homebutton {
  background-color: rgba(65,179,163,0.5);
  border: solid;
  border-width: thin;
  border-color: #41b3a3;
  margin: 5px;
  padding: 3px;
  font-size: 24px;
  display: block;
  color: #394263;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.button {
  background-color: Transparent;
  border: solid;
  border-width: thin;
  border-color: #41b3a3;
  margin: 5px;
  padding: 3px;
  font-size: 24px;
  display: block;
  color: #41b3a3;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}





