@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
;

/* icons ref: https://material.io/resources/icons/?style=baseline */
/*https://material.io/resources/icons/?icon=texture&style=baseline */
/* var(--navy)
/* https://coolors.co/041725-1b374b-3d232c-c39c93-d6c9ba */
/* https://coolors.co/ffffff-74b0bc-ccc5b9-d5cedd-326273 */

/* colors
  --white: #ffffff;
  --black: #000000;
  --oxfordblue: #14213D;
  --orangeweb: #FCA311;
  --grey: #E5E5E5;
  --darkorange: #e85d04;
*/

* {
  font-family: 'Open Sans Condensed', sans-serif;
}

body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("Ade-background-muted.jpeg");
  /*linear-gradient(rgba(6,78,150,0.3),rgba(6,78,150,0.3));
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Center and scale the image nicely */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-blend-mode: overlay;*/
}

.pageWrapper {
    display: grid; 
    grid-template-columns: 100px auto 350px;
    grid-template-rows: 80px auto;
    grid-gap: 2px;
    grid-template-areas: 
    "a a a" 
    ". b .";
}

.topHeader{
    grid-area: a;
    background-color: rgba(22,26,39,0.6);
    position: absolute;
    width: 100%;
    margin-top: 10px;
    height: auto;
}

.subTitle{
    margin-left: 20px;
    color: #85dcba;
    font-family:'Open Sans Condensed', sans-serif;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle
}

.mainTitle {
    color: #85dcba;
    font-family: 'Sacramento', cursive;
    font-size: 45px;
    display: inline-block;
    vertical-align: middle
}

.writeup {
    grid-area: b;
    color: white;
    font-family:'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

.writeup > p {
    text-align:justify
}

.writeup > p > a {
    text-decoration: none;
    color: #f78733;
} 

.writeup > p > a:hover {
    text-decoration: underline;
} 

.floating-menu {
  margin-left: 2vw;
  top: 100px;
  padding: 5px;
  z-index: 80;
  position: fixed;
}

.currentPageButton {
  background-color: rgba(65,179,163,0.5);
  border: solid;
  border-width: thin;
  border-color: #41b3a3;
  margin: 5px;
  padding: 3px;
  font-size: 24px;
  display: block;
  color: #394263;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.button {
  background-color: Transparent;
  border: solid;
  border-width: thin;
  border-color: #41b3a3;
  margin: 5px;
  padding: 3px;
  font-size: 24px;
  display: block;
  color: #41b3a3;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #41b3a3;
  margin: 5px;
  padding: 3px;
  font-size: 24px;
  display: block;
  color: #394263;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.downloadCV {
  margin-left: 200px;
  margin-top: 100px;
}





