* {
  font-family: "Fira Sans", sans-serif;
}

body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("Ade_Fuji.jpg"),linear-gradient(rgba(6,78,150,0.3),rgba(6,78,150,0.3));
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}
