<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" href="../simplepg.css" />
</head>

<body>
    <% include ../partials/navbar.ejs %>

    <!--header-->
    <div class="Header-banner">
        <h1 id="header">Account</h1>
    </div>

    <!--end of header-->

    <!--start of dashboard page-->
    <div class="container">
        <!--login area-->
        <div class="inner-container">
            <% if(currentUser) { %>
            </br>
            <p>Welcome <%=currentUser.username%>!</p>
            <form action="/sessions?_method=DELETE" method="POST">
                <button type="submit" style="border:none; background-color:Transparent"><i class="material-icons"
                        style="font-size:16px">exit_to_app</i></button>
            </form>
            <% } else { %>
            </br>
            Please </br>
            <a href="/users/new">Sign Up</a> </br>
            or </br>
            <a href="/sessions/new">Log In</a>
            <% } %>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="/all.js"></script>

</body>

</html>