<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" href="/simplepg.css" />
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <% include ../partials/navbar.ejs %>
    <div class="Header-banner">
        <h1>New Aircraft page</h1>
    </div>

    <div class="container">
        <div class="inner-container">
        </br>
            <form action="/aircraft" method="POST">
                <label><span>MSN</span>
                    <input id="msn" type="number" name="msn" required>
                </label>
                <!--Aircraft-->
                <label><span>Aircraft Model</span>
                    <select name="aircraft.aircraft_model" id="aircraft.aircraft_model">
                        <option value="B737-700">B737-700</option>
                        <option value="B737-800">B737-800</option>
                        <option value="A320-200">A320-200</option>
                        <option value="A321-200">A321-200</option>
                        <option value="B737-Max8">B737-Max8</option>
                        <option value="A320neo">A320neo</option>
                        <option value="A321neo">A321neo</option>
                    </select>
                </label>

                <label><span>Engine Model</span>
                    <select name="aircraft.engine_model" id="aircraft.engine_model">
                        <option value="PW">PW</option>
                        <option value="IAE">IAE</option>
                        <option value="CFM">CFM</option>
                    </select>
                </label>
                   
                <label><span>ESN1</span>
                    <input id="aircraft.esn1" type="string" name="aircraft.esn1" />  
                </label>

                <label><span>ESN2</span>
                    <input id="aircraft.esn2" type="string" name="aircraft.esn2" />  
                </label>

                <label><span>ESN3</span>
                    <input id="aircraft.esn3" type="string" name="aircraft.esn3" />  
                </label>

                <label><span>ESN4</span>
                    <input id="aircraft.esn4" type="string" name="aircraft.esn4" />  
                </label>
                    
                <label><span>Mnf Date</span>
                    <input type="date" name="aircraft.manufactured_date"
                    id="aircraft.manufactured_date" /></br>
                </label>
                <!--lease-->
                <label><span>Status</span>
                    <select name="lease.status" id="lease.status">
                        <option value="Delivered">Delivered</option>
                        <option value="Committed">Committed</option>
                        <option value="Sold">Sold</option>
                    </select><br />
                </label>
                <label><span>Sub Status</span>
                    <select name="lease.sub_status" id="lease.sub_status">
                        <option value="Delivered">Delivered</option>
                        <option value="LOI Sales">LOI Sales</option>
                        <option value="SPA Signed">SPA Signed</option>
                        <option value="LOI">LOI</option>
                        <option value="LA Signed">LA Signed</option>
                        <option value="Sold">Sold</option>
                    </select><br />
                </label>

                <label><span>Lessee</span>
                    <select name="lessee" id="lessee" />
                    <% for (let i=0; i < lessees.length; i++ ) { %>
                    <option value="<%=lessees[i]._id%>"><%=lessees[i].name%></option>
                    <% } %>
                    </select></br>
                </label>
                
                <label><span>NBV</span>
                    <input type="number" name="accounting.nbv" id="accounting.nbv" /><br />
                </label>
                <br />
                <br />
                <input type="submit" class="pure-button pure-button-active" name="" value="Create Aircraft" />
                </fieldset>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="/all.js"></script>



</body>

</html>