        <!--nav bar ------->
	    <div id="mySidebar" class="sidebar">
            <a href="/account"><i class="material-icons">person</i><span class="icon-text"></span>Account</a><br>
            <a href="/dailies"><span><i class="material-icons">library_books</i><span class="icon-text">Daily Updates</span></a><br>
            <a href="/fx"><i class="material-icons">euro_symbol</i><span class="icon-text"></span>Foreign Exchange</a></span></a><br>
            <a href="/lessee/signedin"><i class="material-icons">people</i><span class="icon-text"></span>Lessee</a><br>
            <a href="/aircraft/signedin"><i class="material-icons">airplanemode_active</i><span class="icon-text"></span>Aircraft Portfolio</a></span></a><br>
            <!--guide to google icons: https://materializecss.com/icons.html-->
        </div>
        <!--end of nav bar-->
