        <!--nav bar ------->
	    <div id="mySidebar" class="sidebar">
            <a href="./index.html"><span><i class="material-icons">home</i><span class="icon-text">Home</span></a><br>
            <a href="./fx.html"><i class="material-icons">euro_symbol</i><span class="icon-text"></span>Foreign Exchange</a></span></a><br>
            <a href="/portfolio"><i class="material-icons">airplanemode_active</i><span class="icon-text"></span>Aircraft Portfolio</a></span></a><br>
            <a href="/lessee"><i class="material-icons">people</i><span class="icon-text"></span>Lessee</a>
        </div>
        <!--end of nav bar-->
