<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Edit Lessee page</h1>
        <form action="/lessee/<%=lessee.id%>?_method=PUT" method="POST">
            Name: <input type="string" name="name" id="name" value="<%=lessee.name%>"/><br/>
            Country: <input type="string" name="country" id="country" value="<%=lessee.country%>"><br/>
            Credit Rating: <input type="number" name="credit_rating" id="credit_rating" value="<%=lessee.credit_rating%>"><br/>
            </br>
            <input type="submit" name="" value="Edit Lessee"/>
        </form>
    </body>
</html>


