<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1><%=lessee.msn%></h1>
        <div>
            Name: <%=lessee.msn%><br/>
            Country: <%=lessee.country%><br/>
            Credit Rating: <%=lessee.credit_rating%><br/>
            <br/>
            <br/>
        </div>
    </body>
</html>

