<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>New Aircraft page</h1>
        <form action="/portfolio/<%=aircraft.id%>?_method=PUT" method="POST">
            MSN: <input type="number" name="msn" id="msn" value="<%=aircraft.msn%>"/><br/>
            Operator: <input type="string" name="lease.operator" id="lease.operator" /><br/>
            <input type="submit" name="" value="Edit Aircraft"/>
        </form>
    </body>
</html>


