<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>New Aircraft page</h1>
        <form action="/portfolio" method="POST">
            MSN: <input type="number" name="msn" id="msn" /><br/>
            <!--Aircraft-->
            Aircraft Model: <select name="aircraft.aircraft_model" id="aircraft.aircraft_model">
                <option value="B737-700">B737-700</option>
                <option value="B737-800">B737-800</option>
                <option value="A320-200">A320-200</option>
                <option value="A321-200">A321-200</option>
                <option value="B737-Max8">B737-Max8</option>
                <option value="A320neo">A320neo</option>
                <option value="A321neo">A321neo</option>
            </select><br/>
            Engine Model: <select name="aircraft.engine_model" id="aircraft.engine_model">
                <option value="PW">PW</option>
                <option value="IAE">IAE</option>
                <option value="CFM">CFM</option>
            </select><br/>
            ESN1: <input type="string" name="aircraft.esn1" id="aircraft.esn1" /><br/>
            ESN2: <input type="string" name="aircraft.esn2" id="aircraft.esn1" /><br/>
            ESN3: <input type="string" name="aircraft.esn3" id="aircraft.esn1" /><br/>
            ESN4: <input type="string" name="aircraft.esn4" id="aircraft.esn1" /><br/>
            Manufactured Date: <input type="date" name="aircraft.manufactured_date" id="aircraft.manufactured_date"/></br>
            <!--lease-->
            Status: <select name="lease.status" id="lease.status">
                <option value="Delivered">Delivered</option>
                <option value="Committed">Committed</option>
                <option value="Sold">Sold</option>
            </select><br/>
            Sub Status: <select name="lease.sub_status" id="lease.sub_status">
                <option value="Delivered">Delivered</option>
                <option value="LOI Sales">LOI Sales</option>
                <option value="SPA Signed">SPA Signed</option>
                <option value="LOI">LOI</option>
                <option value="LA Signed">LA Signed</option>
                <option value="Sold">Sold</option>
            </select><br/>
            Operator: <input type="string" name="lease.operator" id="lease.operator" /><br/>
            
            <br/>
            <br/>
            <input type="submit" name="" value="Create Aircraft"/>
        </form>
    </body>
</html>

<!--
    lease: {
    
        lease_start: Date,
        lease_end: Date,
        IRR: Number,
        operator: String, 
        country_operator: String,
        country_registration: String, 
        rent: Number, 
        security_deposit: Number
    },
    obligor: {
        obligor_name: String,
        obligor_country: String,
        rating: { type: Number, minimum: 1, maximum: 9 },
    },
  }, {timestamps: true});

  -->